In [1]:
# 라이브러리 설치
# !pip install pandas
# !pip install numpy
# !pip install matplotlib
# !pip install seaborn
# !pip install plotly
# !pip install scipy
# !pip install scikit-learn

In [2]:
# 라이브러리 불러오기
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
import datetime
from scipy import stats
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
import warnings
warnings.filterwarnings("ignore")

In [3]:
# 데이터 불러오기
customers_df = pd.read_csv('data/olist_customers_dataset.csv') # 고객 정보
geo_df = pd.read_csv('data/olist_geolocation_dataset.csv') # 고객의 위치 정보
orderitem_df = pd.read_csv('data/olist_order_items_dataset.csv') # 주문 제품 정보
orderpay_df = pd.read_csv('data/olist_order_payments_dataset.csv') # 결제 방법 정보
orderreviews_df = pd.read_csv('data/olist_order_reviews_dataset.csv') # 고객 리뷰 정보
orders_df = pd.read_csv('data/olist_orders_dataset.csv') # 주문 정보
products_df = pd.read_csv('data/olist_products_dataset.csv') # 상품 정보
sellers_df = pd.read_csv('data/olist_sellers_dataset.csv') # 판매자 정보
categname_df = pd.read_csv('data/product_category_name_translation.csv') # 상품 카테고리의 포르투갈어에서 영어로의 번역 정보


pd.set_option('display.max_columns', 500)

In [4]:
# 열 이름 변경
customers_df.rename(columns={"customer_zip_code_prefix": "zip_code"}, inplace=True)
geo_df.rename(columns={"geolocation_zip_code_prefix": "zip_code"}, inplace=True)

In [5]:
# 테이블 병합
data = orders_df.merge(customers_df, on="customer_id").merge(orderitem_df, on="order_id").merge(products_df, on="product_id").merge(categname_df, on="product_category_name").merge(orderpay_df, on="order_id").merge(sellers_df, on="seller_id").merge(orderreviews_df, on="order_id")

In [6]:
data.head(3)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,zip_code,customer_city,customer_state,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english,payment_sequential,payment_type,payment_installments,payment_value,seller_zip_code_prefix,seller_city,seller_state,review_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,1,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72,utilidades_domesticas,40.0,268.0,4.0,500.0,19.0,8.0,13.0,housewares,1,credit_card,1,18.12,9350,maua,SP,a54f0611adc9ed256b57ede6b6eb5114,4,NaN,"Não testei o produto ainda, mas ele veio corre...",2017-10-11 00:00:00,2017-10-12 03:43:48
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,1,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72,utilidades_domesticas,40.0,268.0,4.0,500.0,19.0,8.0,13.0,housewares,3,voucher,1,2.00,9350,maua,SP,a54f0611adc9ed256b57ede6b6eb5114,4,NaN,"Não testei o produto ainda, mas ele veio corre...",2017-10-11 00:00:00,2017-10-12 03:43:48
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,1,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72,utilidades_domesticas,40.0,268.0,4.0,500.0,19.0,8.0,13.0,housewares,2,voucher,1,18.59,9350,maua,SP,a54f0611adc9ed256b57ede6b6eb5114,4,NaN,"Não testei o produto ainda, mas ele veio corre...",2017-10-11 00:00:00,2017-10-12 03:43:48

중복된 order_ids가 있습니다. 이는 동일한 주문을 여러 결제 수단으로 결제할 수 있기 때문입니다.

In [7]:
# Null 값 비율 확인

(data.isna().sum() / len(data) ).sort_values(ascending=False)

review_comment_title             0.880623
review_comment_message           0.576971
order_delivered_customer_date    0.020760
order_delivered_carrier_date     0.010337
order_approved_at                0.000121
product_length_cm                0.000009
product_weight_g                 0.000009
product_width_cm                 0.000009
product_height_cm                0.000009
order_estimated_delivery_date    0.000000
order_status                     0.000000
order_purchase_timestamp         0.000000
order_id                         0.000000
customer_id                      0.000000
customer_unique_id               0.000000
zip_code                         0.000000
shipping_limit_date              0.000000
seller_id                        0.000000
price                            0.000000
freight_value                    0.000000
order_item_id                    0.000000
product_id                       0.000000
customer_city                    0.000000
customer_state                   0.000000
product_description_lenght       0.000000
product_photos_qty               0.000000
product_category_name            0.000000
product_name_lenght              0.000000
payment_type                     0.000000
payment_installments             0.000000
product_category_name_english    0.000000
payment_sequential               0.000000
seller_zip_code_prefix           0.000000
payment_value                    0.000000
seller_city                      0.000000
seller_state                     0.000000
review_score                     0.000000
review_id                        0.000000
review_creation_date             0.000000
review_answer_timestamp          0.000000
dtype: float64

In [8]:
# Main stats
data.describe()

,zip_code,order_item_id,price,freight_value,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,payment_sequential,payment_installments,payment_value,seller_zip_code_prefix,review_score
count,115609.000000,115609.000000,115609.000000,115609.000000,115609.000000,115609.000000,115609.000000,115608.000000,115608.000000,115608.000000,115608.000000,115609.000000,115609.000000,115609.000000,115609.000000,115609.000000
mean,35061.537597,1.194535,120.619850,20.056880,48.766541,785.808198,2.205373,2113.907697,30.307903,16.638477,23.113167,1.093747,2.946233,172.387379,24515.713958,4.034409
std,29841.671732,0.685926,182.653476,15.836184,10.034187,652.418619,1.717771,3781.754895,16.211108,13.473570,11.755083,0.729849,2.781087,265.873969,27636.640968,1.385584
min,1003.000000,1.000000,0.850000,0.000000,5.000000,4.000000,1.000000,0.000000,7.000000,2.000000,6.000000,1.000000,0.000000,0.000000,1001.000000,1.000000
25%,11310.000000,1.000000,39.900000,13.080000,42.000000,346.000000,1.000000,300.000000,18.000000,8.000000,15.000000,1.000000,1.000000,60.870000,6429.000000,4.000000
50%,24241.000000,1.000000,74.900000,16.320000,52.000000,600.000000,1.000000,700.000000,25.000000,13.000000,20.000000,1.000000,2.000000,108.050000,13660.000000,5.000000
75%,58745.000000,1.000000,134.900000,21.210000,57.000000,983.000000,3.000000,1800.000000,38.000000,20.000000,30.000000,1.000000,4.000000,189.480000,28605.000000,5.000000
max,99980.000000,21.000000,6735.000000,409.680000,76.000000,3992.000000,20.000000,40425.000000,105.000000,105.000000,118.000000,29.000000,24.000000,13664.080000,99730.000000,5.000000

## 리뷰 점수는 어떻게 분포되어 있나요?

In [ ]:
sns.countplot(data.sample(10000)["review_score"])
data["review_score"].value_counts() / data["review_score"].count() * 100

고객의 75% 이상이 4점 이상의 점수를 주었으며, 약 12.5%는 1점을 주었고, 나머지 약 12%는 3점 또는 2점을 주었습니다.

## 대부분의 수익을 발생시키는 고객 비율:

In [ ]:
top_customers = data.groupby("customer_unique_id")["payment_value"].sum().reset_index().sort_values("payment_value", ascending=False)
top_customers.rename(columns={"payment_value":"total_paid"}, inplace=True)

In [ ]:
top_customers["% of Total Sales"] = (top_customers["total_paid"] / top_customers["total_paid"].sum()) * 100
top_customers["Cum % of Total Sales"] = top_customers["% of Total Sales"].cumsum() 
#sns.displot(top_customers["Cum % of Total Sales"])
ax = sns.lineplot(x=range(1,len(top_customers)+1), y="Cum % of Total Sales", data=top_customers)
ax.set_xlabel("N° of Customers")
ax.set_title("% Contribution to Sales by number of customers")

40000명의 고객(전체 고객의 약 42%)이 전체 매출의 약 80%를 차지합니다.

In [ ]:
print("hello")

## 1등 고객은 누구인가?

In [ ]:
top_customers.rename(columns={"payment_value" : "total_paid"}, inplace=True)
ax = sns.barplot(x="total_paid", y="customer_unique_id", data=top_customers[:10])
ax.set_title("Top 10 Customers by total paid")

## Top cites by number of orders by state

In [ ]:
top_orders_cities = data.groupby("customer_state")["order_id"].count().reset_index().sort_values("order_id", ascending=False)
top_orders_cities.rename(columns={"order_id":"count"}, inplace=True)
ax = sns.barplot(x="count", y="customer_state", data=top_orders_cities[:10])
ax.set_title("TOP 10 states by num of orders")

## Cities with highest revenue generation

In [ ]:
top_ordersbyvalue_cities = data.groupby("customer_city")["payment_value"].sum().reset_index().sort_values("payment_value", ascending=False)
top_ordersbyvalue_cities["% of Total Payments"] = (top_ordersbyvalue_cities["payment_value"] / top_ordersbyvalue_cities["payment_value"].sum()) * 100
top_ordersbyvalue_cities["Cum % of Total Payments"] = top_ordersbyvalue_cities["% of Total Payments"].cumsum()

In [ ]:
ax = sns.barplot(x="% of Total Payments", y="customer_city", data=top_ordersbyvalue_cities[:10])
ax.set_title("TOP 10 cities by revenue generation")

In [ ]:
ax = sns.lineplot(x=range(1,len(top_ordersbyvalue_cities)+1), y="Cum % of Total Payments", data=top_ordersbyvalue_cities)
ax.set_xlabel("N° of cities")
ax.set_title("% Contribution to Sales by number of cities")

In [ ]:
print("Number of cities contributing to 80% of total sales:",
      len(top_ordersbyvalue_cities[top_ordersbyvalue_cities["Cum % of Total Payments"] <= 80]),
      "or in %:",
      (len(top_ordersbyvalue_cities[top_ordersbyvalue_cities["Cum % of Total Payments"] <= 80]) / len(top_ordersbyvalue_cities)) * 100)

## How do orders vary across time?

In [ ]:
# Total orders by hour and dow
# But before I need to convert the dates cols to datetime 
datesCols = ["order_purchase_timestamp", "order_approved_at", "order_delivered_carrier_date", 
            "order_delivered_customer_date", "order_estimated_delivery_date", "shipping_limit_date", 
            "review_creation_date", "review_answer_timestamp"]

for col in datesCols:
    data[col] = pd.to_datetime(data[col])

In [ ]:

# Orders by hour
orders_df["order_purchase_timestamp"] = pd.to_datetime(orders_df["order_purchase_timestamp"])
orderbyhour = orders_df.groupby(orders_df["order_purchase_timestamp"].dt.hour)["order_id"].count().reset_index().sort_values(by="order_purchase_timestamp", ascending=False)
orderbyhour.rename(columns={"order_id":"Total Orders", "order_purchase_timestamp": "Hour of Day"}, inplace=True)

In [ ]:
# Visualize data
ax = sns.barplot(x="Hour of Day", y="Total Orders", data=orderbyhour)
ax.set_title("N° of Orders by hour")

In [ ]:
# Orders by day of the week
orderbydow = data.groupby(data["order_purchase_timestamp"].dt.day_name())["order_id"].count().reset_index()
orderbydow.rename(columns={"order_id":"Total Orders", "order_purchase_timestamp": "Weekday Name"}, inplace=True)
orderbydow = orderbydow.sort_values(by="Total Orders", ascending=False)

In [ ]:
plt.figure(figsize = (9,8))
ax = sns.barplot(x="Weekday Name", y="Total Orders", data=orderbydow)
ax.set_xlabel('')
ax.set_title("N° of Orders by DOW")

## How products are rated ?

In [ ]:
# Best and worst rated products
plt.figure(figsize=(12,12))
reviewsocres = data.groupby("product_category_name_english")["review_score"].agg(["mean", "count"]).sort_values(by="mean",ascending=False)
#ax = sns.barplot(y=bestrated.index, x=bestrated.values)
# Get only products with 30 or more reviews in order to have a more realistic idea about the rating
bestrated = reviewsocres[reviewsocres["count"]>=30][:10]
bestrated

In [ ]:
# Bottom 10 Products by review socre
worstrated = reviewsocres[reviewsocres["count"]>=30].sort_values(by='mean')[:10]
worstrated

## Does payment method affect order status?

In [ ]:
# For example: does paying cash increase order cancelation
cashvscancel = pd.crosstab(data["payment_type"], data["order_status"])
cashvscancel = cashvscancel[["canceled", "delivered"]]
cashvscancel["% Canceled"] = (cashvscancel["canceled"] / cashvscancel["delivered"] ) * 100
cashvscancel["Avg Cancelation Rate"] = (len(data[data["order_status"] == "canceled"]) / len(data[data["order_status"] == "delivered"])) * 100
cashvscancel

## Is there any relationship between delivery time and review scores

In [ ]:
# Add delta column which computes the time it took for the order to get delivered
data["TimeToDeliveryinHours"] = (data["order_delivered_customer_date"] - data["order_purchase_timestamp"])
data["TimeToDeliveryinHours"] = data["TimeToDeliveryinHours"].apply(lambda x: x.total_seconds())
data["TimeToDeliveryinHours"] = round((data["TimeToDeliveryinHours"] / 3600) / 24, 2)
data.rename(columns={"TimeToDeliveryinHours" : "TimeToDeliveryinDays"}, inplace=True)

In [ ]:
# Main stats of deliverytime
data[["TimeToDeliveryinDays"]].describe()

In [ ]:
sns.boxplot(x="review_score", y="TimeToDeliveryinDays", data=data)

In [ ]:
# Outliers removal
q_high = data["TimeToDeliveryinDays"].quantile(0.95)
data_no_outliers = data[data["TimeToDeliveryinDays"] < q_high]
sns.boxplot(x="review_score", y="TimeToDeliveryinDays", data=data_no_outliers)

## What are the sellers' cities with lowest/highest delivery time?

In [ ]:
# Let's see sellers with best deliverytime
sellersdeliverytime = data.groupby("seller_city")["TimeToDeliveryinDays"].agg(["min", "max", "mean", "std", "count" ]).dropna().sort_values("mean").reset_index()
# Filter for sellers with 30 or more orders in their history
sellersdeliverytime = sellersdeliverytime[sellersdeliverytime["count"]>=30]

In [ ]:
fastestdeliverysellers = sellersdeliverytime[:10]
slowestdeliverysellers = sellersdeliverytime.sort_values("mean", ascending=False)[:10]

In [ ]:
# Fastest delivery sellers
fastestdeliverysellers

In [ ]:

# Join average review score to table above
avg_review_score_seller = data.groupby("seller_city")["review_score"].mean().dropna().sort_values(ascending=False).reset_index()

In [ ]:
sellerPerf = sellersdeliverytime.merge(avg_review_score_seller, on="seller_city")

In [ ]:
# Relationship between average timetodelivery and average review score
ax = sns.regplot(x="mean", y="review_score", data=sellerPerf)
ax.set_xlabel("")

판매자가 주문을 배송하는 데 걸리는 시간과 그들이 받은 리뷰 사이에 중간 정도의 부정적인 관계가 있다는 것을 분명히 알 수 있습니다.

In [ ]:
# Slowest delivery sellers
slowestdeliverysellers

## States with highest/lowest time to delivery

In [ ]:
highestTTDstates = data.groupby("customer_state")["TimeToDeliveryinDays"].mean().dropna().sort_values(ascending=False).reset_index()
highestTTDstates = highestTTDstates[:10]
ax = sns.barplot(y="customer_state", x="TimeToDeliveryinDays", data=highestTTDstates)

In [ ]:
lowestTTDstates = data.groupby("customer_state")["TimeToDeliveryinDays"].mean().dropna().sort_values(ascending=True).reset_index()
lowestTTDstates = lowestTTDstates[:10]
ax = sns.barplot(y="customer_state", x="TimeToDeliveryinDays", data=lowestTTDstates)

## How does average deliverytime vary across time?